<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,300&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');
</style>
*{
    font-family: 'Work Sans', sans-serif;
}