
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    
}

/* header styles section */

header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 0 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3 {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;

}
nav ul {
    display: flex;

}
nav li {
    list-style: none;
    margin:15px;
    color: #424242;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
}
.header-text{
    max-width:800px;
    margin: 0 auto;
    text-align: center;
}
.header-text h1{
    color:#131313;
    font-size: 4rem;
    font-weight: 700;

}

.header-text p{
    font-size: ;
}
header button{
    background-color: #FF900E;
    width:180px;
    height: 64px;
    border-radius: 8px;
    border:none;
    font-size: 1.2rem;
    font-weight: 600;
    color:#FFF;
    margin: 30px 0;


}
.header-image img{
    width:100%;
    margin-bottom: 45px;
}

/
/* feature section */
main{
    max-width: 1440px;
    margin: 0 auto;

}
.featured-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    gap: 70px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 85px;
  

}

.featured-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    max-width: 660px;
    padding:0;
}
.featured-image img{
    max-width: 250px;

}
.featured-content h3{
    font-size: 45px;
    font-weight: 700;
    
}
.featured-content .Quick {
    font-weight: 500;
    color:#727272;
}
.featured-content .features {
    font-weight: 700;
    color:#FF900E;
}
.featured-content button{
    background-color: #FF900E;
    width:180px;
    height: 64px;
    border-radius: 8px;
    border:none;
    font-size: 1.2rem;
    font-weight: 600;
    color:#FFF;
    margin: 30px 0;

}

.featured-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin: 100px 160px 0;
    flex:1;
}

.featured-txt {
    max-width:400px;
    
}
.featured-txt .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;
}
.featured-txt h2 {
 color: #131313;
 font-size: 45px;
 font-weight: 700;
 margin-bottom: 20px;
 border-left: 2px solid #FF900E;
 padding-left: 15px;
 margin-bottom: 24px;
}
.featured-txt h3{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.description {
    margin-bottom: 20px;
}
.features-image{
    max-width: 567px;
}
.features-image img {
    /* display: block; */
    width:100%;
}
.experience{
    width:200px;
    height: 90px;
    background-color: #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 60px;
    right: 40px;
}
.experience h3{
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}
.experience p{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

/* responsive media query */
@media screen and ( max-width:576px ) {
    header{
        padding: 0 20px;
    }
    nav{
       flex-direction: column;
       align-items: center;

    }
    .featured-container {
        flex-direction: column;
        justify-content: center;
        /* gap: 60px; */
        margin-left: 24px;
        margin-right: 24px;    
    }
    
    .featured-image {
        display: grid;
        grid-template-columns: 100%;  
    }
    .featured-image img {
        width:100%;
    }
    .featured-sec {
        flex-direction: column;
        margin: 100px 30px 0;
        justify-content: center;
    }
    .experience {
        position: static;
        margin-top: 20px;
    }
    .header-text h1{
        font-size: 3rem;
    }
}

@media screen and ( min-width: 576px ) and ( max-width: 992px )  {
    header{
        padding: 0 50px;
      
    }
    nav{
        flex-direction: column;
       
    }
    
    .featured-container {
        flex-direction: column;
        justify-content: center;
        margin-left: 24px;
        margin-right: 24px;
    }
    .featured-sec {
        flex-direction: column;
        margin: 100px 30px 0;
        justify-content: center;
    }
    .featured-txt {
        max-width:550px;
        
    }
}